* {
    box-sizing: border-box;
}
body {
    font-family: "Arial Black", Gadget, serif;
    min-width: 350px;
    min-height: 300px;
    margin: 10px 5px;
}
p {
/*text-align: center;*/
    font-size: 10px;
}
h1 {
    font-size: 20px;
    /*text-align: center;*/
    color:  rgba(250, 248, 215, .8);
    font-variant: small-caps;
    filter: invert(1);
}
h2 {
    margin: 10px;
}
h3 {
    font-size: 15px
}
h4 {
   /* margin: 10px;*/
}
ul {
/*padding: 0;*/
    padding: 1.5px;
}
#background-modifier {
    /*https://pixabay.com/en/green-rustic-wallpaper-scrapbook-913664/*/
    background-image: url("images/background-darker.jpg");
    /*position: fixed;*/
    background-repeat: repeat;
    /*top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;*/
}
#background-modifier-1 {
    /*https://pixabay.com/en/scrapbook-page-background-roses-1653893/*/
    background-size: cover;
    background-image: url("images/background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: auto;
  /*  background-size: contain;*/
    /*https://pixabay.com/en/tree-boards-background-rustic-2068284/*/
    /*background-image: url("images/background3.jpg");*/
    /*filter: invert(100%);*/
}
#background-modifier-2 {
    background-image: url("images/title-border.png");
    background-repeat: no-repeat;
    background-position: center;
    /*max-width: 500px;*/
    /*position:center;*/
    background-size: contain;
    /*background-size: 65% 100%;*/
    /* background-size: 25px;*/
    filter: invert(1);            /*z-index: 1;*/
}
#background-modifier-3 {
    /*https://pixabay.com/en/scrapbook-page-background-roses-1653893/*/
    background-size: cover;
    background-image: url("images/background3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: auto;
    /*https://pixabay.com/en/tree-boards-background-rustic-2068284/*/
    /*background-image: url("images/background3.jpg");*/
    /*filter: invert(100%);*/
}
#sm-bar-modifier {
    /*https://pixabay.com/en/scrapbook-page-background-roses-1653893/*/
    width: 100%;
    background-image: url("images/social-media-header.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    /*max-width: 500px;*/
    /*position:center;*/
    background-size: contain;
    z-index: 1;
}
#sm-bar-modifier {
    /*https://pixabay.com/en/scrapbook-page-background-roses-1653893/*/
    width: 100%;
    background-image: url("images/social-media-header.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    /*max-width: 500px;*/
    /*position:center;*/
    background-size: contain;
    z-index: 1;
    }
/*ID SELECTORS*/
#title-modifier {
    font-size: 40px;    
}
/* #bottom-nav-modifier {
font-size: 10px;
}
*/
#photo-content-modifier {
    display: inline-block;
}
#contact-us-modifier {
    white-space: nowrap ;
}
/*CLASS SELECTORS*/
.title {
    text-align: center;
    /*text-transform: uppercase;*/
    padding: 100px 0;
    /*border-bottom: solid;
    border-width: 1px;*/
}
.nav-bar {
    text-align: center;
    margin: 0;
    /*border-bottom: solid;
    background-color: rgba(159, 169, 163, 0.8);*/
}
.nav-bar-link-style {
    text-transform: uppercase;
    color:  rgba(250, 248, 215, .8);
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}
#bottom-nav-modifier {
    font-size: 15px;
}
li:hover { 
    font-size: 20px;
    animation: fly .4s;
    animation-iteration-count: 1;
    animation: flyy .4s;
    background-image: url("images/nav-bar-border2.png"), url("images/nav-bar-border2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    height: 100%;
    width: auto;
}   
@keyframes fly {
    from {font-size:    20px; }
    to {font-size: 100px; }
}
@keyframes flyy {
    /*from {font-size:    0px; }
    to {font-size: 100px; }*/
}
.social-media-link {
    display: flex;
    justify-content: flex-end;
    /*padding: 100px;*/
    /*margin: 0 0 0 100px;*/
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 10%
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-reddit {
    background: #ff5700;
    color: white;
}
.sidebar-left {
    display: none;
}
.sidebar-right {
    display: none;
}
.content {
    text-align: left;
    padding: 10px;
    /*margin:  0 200px;*/
    /*border-left: solid;
    border-right: solid;*/
    height: max-content;
    /*opacity: .5;*/
    background-color:  rgba(250, 248, 215, .8);
}
.content-title {
    text-transform: uppercase;
    text-align: left;
}
.content-block {
    display: inline-block;
    text-align: left;
    border-bottom-style: dotted;
}
table {
    flex-basis: auto;
    border: 3px solid #000000;
    /*max-width: max-content;*/
    text-align: left;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #000000;
    padding: 5px 4px;
}
td {
    font-size: 10px;
}
th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}
.container {
    display: flex;
    flex-wrap: wrap; 
}
.section1 {
    /*width: 30%;*/             
    padding: 5px;
}
.section1 img {
    width: 30%;
}
.table-modifier {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}      
.bottom-nav-bar {
    text-align: center;
    font-size: 10px;
    /*margin:  10 200px;*/
}